.main {
  text-align: center;
  background-color: #282c34;
  height: auto;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: url("./img/background.jpg") no-repeat center/cover;
}

.main .container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 250px;

  .content {
    position: absolute;
    border: 2px solid white;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);

    &.one {
      width: 40%;
      height: 100%;
      animation: animation1 4s 4s infinite;
      opacity: 0;
    }

    &.two {
      width: 45%;
      height: 110%;
      animation: animation2 4s 3s infinite;
      opacity: 0;
    }

    &.third {
      width: 50%;
      height: 120%;
      animation: animation3 4s 2s infinite;
      opacity: 0;
    }

    &.fourth {
      width: 55%;
      height: 130%;
      animation: animation4 4s 1s infinite;
      opacity: 1;
    }
  }
}

@keyframes animation1 {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes animation2 {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes animation3 {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes animation4 {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
