.about {
  height: calc(100vh - 80px);
  box-sizing: border-box;
  color: black;
  padding: 0 80px;
  display: flex;
  overflow: scroll;

  
  &::-webkit-scrollbar {
    width: 0 !important ;
  }

  .wrapper {
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: url("../img/about-background.jpg");
  }

  .card {
    position: absolute;
    width: 450px;
    height: 250px;
    background-color: rgba(0,0,0,0.895);
    box-shadow:
    0px -10px 10px rgba(0,0,0,0.2),
    0px 10px 20px rgba(0,0,0,0.4),
    -10px 0px 20px rgba(0,0,0,0.4),
    10px 0px 20px rgba(0,0,0,0.4),
    inset 1px 1px 20px rgba(0,0,0,0.4);
    color:white;

    &.info {
      position: relative;
      box-sizing: border-box;
      padding:20px;
      top:20vh;
      left:20vw;
      transform: rotate(-5deg);
      flex-direction: column;

      & > div {
        display:flex;
      }

      .me {
        font-size: 30px;
        font-weight: 500;
        opacity: 0.85;
      }

      .occupation {
        font-size: 15px;
        color:gold;
        opacity: 0.7;
        margin-top: 10px;
      }

      .details {
        margin-top:40px;
        font-size:15px;
        font-weight: 200;
        flex-direction: row-reverse;
        
        .container{
          opacity: 0.8;;
        }

        p {
          margin-bottom: 10px;
        }
      }
    }

    &.skill {
      top:55vh;
      right:10vw;
      transform: rotate(7deg);
      background-color: white;

      .container {
        display: flex;
        margin: 30px auto;
        justify-content: space-between;
      }

      .container figure {
        align-self: center;
      }

      figure img {
        width:80px;
      }
    }
  }
}

@media (max-width:768px) {
  .about {
    padding: 0 10px;
  }
}
