.App-header {
  display: flex;
  background-color: white;
  height: 80px;
  box-sizing: border-box;
  color: black;
  padding: 0 80px;
  width:100%;
  justify-content: space-between;

  figure {
    background-color: blueviolet;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color:white;
    }
  }

  ul {
    background-color: tomato;
    display: flex;

    li {
      padding: 0 10px;
      align-self: center;
    }
  }
}

@media (max-width:768px) {
  .App-header {
    height:60px;
    padding: 0 10px;
  }
}
