.con {
	max-width: 1180px;
}

.con-min-width {
	min-width: 320px;
}

.con-min-width_1 {
	min-width: 1230px;
}

html,
body {
	overflow-x: hidden;
}

body,
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.top-bar, #left-side-bar, section.panel, section.footer {
	min-width: 320px;
}

/*스크롤리 파이 기본 CSS*/

.panel1 {
	background-color: #ECE9DE;
}

.panel2 {
	background: #64a0d4;
	background: hsl(200, 60%, 55%);
}

.panel3 {
	background: #FFFFFF;
}

.panel4 {
	background: #7f9f52;
}

.pagination {
	position: fixed;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10000;
}

.pagination a {
	display: block;
	color: #A6CE39;
	position: relative;
	padding: 20px;
}

.pagination a.active:after {
	box-shadow: inset 0 0 0 5px;
}

.pagination a .hover-text {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity 0.5s ease;
	padding-right: 15px;
	white-space: nowrap;
	display:none;
}

.pagination a::after {
	content: "";
	transition: box-shadow 0.5s ease;
	width: 10px;
	height: 10px;
	display: block;
	border: 1px solid;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

/*탑바 작업*/

.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 7;
}

.top-bar {
	transition: transform 1s, opacity 1s;
}

body[data-scrollify-page-no="0"] .top-bar {
	transform: translateY(0);
	opacity: 1;
}

body:not([data-scrollify-page-no="0"]) .top-bar {
	transform: translateY(-50%);
	opacity: 0;
}

.top-bar:hover {
	transform: translateY(0) !important;
	opacity: 1 !important;
}

/*여기서부터 작업*/
.top-bar {
	z-index: 9999;
}

.top-bar > .top_bar_con > h1 {
	margin-top: 40px;
	width: 119px;
	height: 40px;
}

/*탑바 메뉴*/
.top_bar_menu {
	margin-left: 20px;
	z-index: 9999;
}

.top_bar_menu > ul {
	padding-top: 50px;
}

.top_bar_menu > ul > li > a {
	padding: 0 23px;
	padding-bottom: 40px;
	display: block;
	color: #585858;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	overflow-y: hidden;
}

.top_bar_menu > ul > li:nth-of-type(2) > a {
	padding-left: 3px;
	padding-right: 3px;
}

.top_bar_menu > ul > li:nth-of-type(3) > a {
	padding-left: 30px;
	padding-right: 30px;
}

.top_bar_menu > ul > li:nth-of-type(4) > a {
	padding-left: 30px;
	padding-right: 30px;
}

.top_bar_menu > ul > li:nth-of-type(5) > a {
	padding-left: 35px;
	padding-right: 35px;
}

.top_bar_menu > ul > li:nth-of-type(6) > a {
	padding-left: 0px;
	padding-right: 0px;
}

.top_bar_menu > ul > li > a::after {
	content: "";
	display: none;
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #68A12A;
	top: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(-6px) rotate(45deg) skew(20deg, 20deg);
}

.top_bar_menu > ul > li:hover > a::after {
	display: block;
}

.top_bar_menu > ul > li:hover:not(:nth-of-type(3)) > a {
	color: #8dae30;
}

.top_bar_menu > ul > li > .side_left_img {
	position: absolute;
	left: 0;
	top: 140px;
	display: none;
	z-index: 99;
}

.top_bar_menu > ul > li:hover > .side_left_img {
	display: block;
}

.top_bar_menu > ul > li:nth-of-type(3) > a {
	color: #a88875;
}

/*2차메뉴*/
.top-bar > .top_bar_con > div ul div ul {
	position: absolute;
	width: 100%;
	left: 0;
	height: 300px;
	text-align: center;
	background-color: #FFFFFF;
	padding: 25px 0px;
	border-top: 1px solid #6E9E3A;
	border-left: 1px solid #E6E6E6;
	display: none;
	z-index: 666;
}

.top-bar > .top_bar_con > div ul > li:not(:last-child):hover ul {
	background-color: #F8FBF6;
}

.top-bar > .top_bar_con > div ul ul > li > a {
	font-size: 14px;
	display: block;
	padding: 3px 0px;
	white-space: nowrap;
	color: #333;
}

.top-bar > .top_bar_con > div ul > li ul > li:hover a {
	background-color: #68A12A;
	text-decoration: underline;
	color: #ffffff;
}


/*오른쪽 탑바 메뉴*/
.right_bar {
	top: 10px;
}

.right_bar > ul > li {
	padding: 0px 9px;
	position: relative;
}

.right_bar > ul > li:not(:last-child)::after {
	position: absolute;
	content: '';
	top: 45%;
	right: 0;
	background-color: #6d6d71;
	width: 1px;
	height: 10px;
}

.right_bar > ul > li > a {
	font-size: 12px;
	color: #6d6d71;
}

.right_bar > ul > li:hover > a {
	color: #8dae30;
	text-decoration: underline;
}

.right_bar > ul > li:first-child > a {
	color: #8dae30;
}

.top-bar > .top_bar_con .btn_cart {
	line-height: 0;
	top: 50px;
	right: 120px;
	transform: scale(0.8);
}

.top-bar > .top_bar_con > input {
	top: 50px;
	width: 120px;
	right: 0;
	border: 0;
	border-bottom: 1px solid black;
	padding: 5px 0px;
}

.top-bar > .top_bar_con > img {
	position: absolute;
	right: 2px;
	top: 56px;
}

.top-bar > .top_bar_con .event_move_btn img {
	top: 250px;
	right: 0;
	z-index: 10000;
	position: absolute;
	transition: all 0.1s;
	display: none;
}

.top-bar > .top_bar_con .event_move_btn:hover > img {
	top: 230px;
}

.top-bar > .top_bar_con .event_move_btn.active img {
	display: block;
}


/*탑바 배경*/
.top-bar-menu-1-sub-bg-box {
	position: relative;
	z-index: 2;
}

.top-bar-menu-1-sub-bg-box > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 350px;
	background-color: white;
	z-index: 3;
	display: none;
	border-top: 1px solid #6E9E3A;
}

.top_bar_con.menu-1-active .top_bar_menu > ul > li > div > ul {
	display: block;
}

.top_bar_con.menu-1-active ~ .top-bar-menu-1-sub-bg-box > div {
	display: block;
}

/*hide_box_con 작업*/
.top-bar-menu-1-sub-bg-box > div.hide_box_con {
	top: 0;
	right: 0;
}

.top-bar-menu-1-sub-bg-box > div.hide_box_con .hide_img_box {
	position: absolute;
	top: 100%;
}

.top-bar-menu-1-sub-bg-box > div.hide_box_con .hide_img_box::before {
	position: absolute;
	top: 0;
	left: -2000px;
	width: 2000px;
	height: 100%;
	content: "";
	background-color: #EDE1AC;
}

.top-bar-menu-1-sub-bg-box > div.hide_box_con .hide_img_box::after {
	position: absolute;
	top: 0;
	right: -2000px;
	width: 2000px;
	height: 100%;
	content: "";
	background-color: #F4F1D2;
}

/*left-side-bar 작업*/
#left-side-bar {
    /* fixed는 absolute와 완전히 똑같다. */
    /* 다만 fixed는 스크롤바를 따라다니는 유령이다. */
    position:fixed;
    top:0;
    left:-350px;
    width:300px;
    height:100%;
    background-color:#ffffff;
    transition:left 0.5s, background-color 0.5s;
    z-index:9999;
	padding: 10px 20px 10px 20px;
}

#left-side-bar.active {
    left:0;
    background-color:#ffffff;
}

#left-side-bar > .menu_bar {
	padding:0px 20px;
	overflow-y: visible;
}

#left-side-bar > .menu_bar > ul > li.event > h2 {
	display: block;
    font-family: 'NSKR';
    font-size: 20px;
	font-weight: 400;
    line-height: 24px;
    color: #333;
    padding: 30px 0 0 0;
    text-align: left;
    text-decoration: none;
} 

#left-side-bar > .menu_bar > ul > li.event {
	display: block;
    padding-bottom: 10px;
}

#left-side-bar > .menu_bar > ul > li.event > ul {
	padding-top: 10px;
	display:none;
}

#left-side-bar > .menu_bar > ul > li.event > ul > li {
	padding: 0;
    background-color: #a6cf39;
    margin-top: 10px;
    position: relative;
	background-image: url(images/point.gif);
	background-repeat: no-repeat;
	background-position:left 20px bottom 35px;
}

#left-side-bar > .menu_bar > ul > li.event > ul > li:last-child {
	background-position:left 20px bottom 23px;
}

#left-side-bar > .menu_bar > ul > li.event > ul > li > a {
	box-sizing: border-box;
    padding: 12px 20px 12px 40px;
    color: #ffffff;
    line-height: 1.5rem;
	display:block;
}
   
#left-side-bar > .menu_bar > ul > li.event > a.more_event {
    display: block;
    text-align: center;
    font-size: 15px;
    color: #a6ce39;
    border: 2px solid #a6ce39;
    padding: 8px 0;
    margin-top: 10px;
}

#left-side-bar > .menu_bar > ul > li.event ul li:hover > a {
	text-decoration: underline;
}

#left-side-bar > .menu_bar > ul > li.event > a.more_event span {
	display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-right: 38px;
    background:url(images/plus.png) right no-repeat;
}

#left-side-bar > .menu_bar > ul > li.news > a {
	color: #a6ce39;
}

#left-side-bar > .menu_bar > ul > li {
	display: block;
    width: auto;
    font-size: 15px;
    line-height: 18px;
    padding: 0 0 30px 0;
    background: #fff;
    border-bottom: 1px solid #ccc;
    text-align: left;
}   

#left-side-bar > .menu_bar > ul > li > a {
	display: block;
    font-family: 'NSKR';
    font-size: 18px;
    line-height: 24px;
    color: #333;
    padding: 30px 0 0 0;
    text-align: left;
    text-decoration: none;
}

#left-side-bar > .menu_bar > ul ul {
	padding-top: 10px;
	margin-top: 0;
	display: none;
}

#left-side-bar > .menu_bar > ul ul > li {
	display: block;
    color: #636363;
    margin: 0;
    padding: 20px 0 0 0;
    border-bottom: none;
    text-align: left;
    text-decoration: none;
}

#left-side-bar > .menu_bar > ul ul > li > a{
	font-size: 16px;
    color: #636363;
    line-height: 20px;
    padding-left: 0;
	font-weight: 300;
}

#left-side-bar > .menu_bar > ul ul > li:hover > a {
	text-decoration: underline;
}

#left-side-bar > .menu_bar .btn_close {
	top:15px;
	right:-15px;
	line-height: 0;
	transform: scale(0.6);
}

/*언어 바 작업*/
#left-side-bar > .language_bar{
	display: block;
    margin-top: 10px;
	padding:0px 20px;
}


#left-side-bar > .language_bar .box {
	display: inline-block;
    padding-top: 10px;
	padding-bottom: 10px;
    vertical-align: top;
	background-color: #ffffff;
}

#left-side-bar > .language_bar .box a.color {
	color: #8dae30;
}

#left-side-bar > .language_bar .box a:nth-child(1) {
	border-right:1px solid gray;
}

#left-side-bar > .language_bar .box a {
	float:left;
    color: #000;
    font-size: 12px;
	padding:0px 6.6px;
    position: relative;
    text-transform: uppercase;
}

/*모바일 그린바*/

#left-side-bar .mob_green_box {
    margin: 10px 0px 10px 0px;
    text-align: left;
    display: block;
	padding:0px 20px;
}

#left-side-bar .mob_green_box dl {
	float:left;
	width:92.3%;
	margin:0;
	padding:0;
	padding-left:20px;
    background: #a6cf39;
}    

#left-side-bar .mob_green_box dl dd {
    line-height: 40px;
    background: url(images/point.gif) no-repeat left 18px;
    background-size: 5px 5px;
    padding-left: 17px;
	margin:0;
}

#left-side-bar .mob_green_box dl dd a {
	font-size: 18px;
    line-height: 40px;
	text-align: left;
	color:#fff;
}

/*section*/
.home {
	overflow: hidden;
	position: relative;
	z-index: 0;
}

.vid {
	position: absolute;
	height: 100%;
	top: 0px;
	left: -40px;
	opacity: 1;
	width: 100%;
	z-index: 0;
}

.vid video {
	width: 100%;
	min-width: 320px;
}

/*홈메뉴 메인*/
.home {
	z-index: 6666;
}

.home > .pic_box {
	display:none;
}

.home > .menu_1 {
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 11;
	display: inline-block;
	width:800px;
}

.home > .menu_1 > li {
	width: 200px;
	padding: 0 35px;
	position: relative;
	overflow: visible;
}

.home > .menu_1 > li:not(:last-child)::after {
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
	width: 1px;
	height: 20px;
	background-color: white;
}

.home > .menu_1 > li img {
	width: 130px;
	opacity: 1;
}

.home > .menu_1 > li a:nth-of-type(1):hover img {
	opacity: 0;
}

.home > .menu_1 > li div img:nth-of-type(2) {
	position: absolute;
	top: 0;
	opacity: 0;
}

.home > .menu_1 > li a:nth-of-type(1):hover img:nth-of-type(2) {
	opacity: 1;
}

.home > .menu_1 > li .text {
	margin-top: 16px;
	color: #FFFFFF;
	white-space: nowrap;
	text-align: center;
	font-family: 'NSKR';
	font-size: 20px;
}

.home > .menu_1 > li > a:last-child:hover .text {
	text-decoration: underline;
}

.home > .menu_1 > li:first-child .text {
	margin-left: -35px;
	letter-spacing: -2px;
}

/*arrow*/
.home > .arrow {
	left: 50%;
	transform: translateX(-50%);
	z-index: 55;
	animation: ani ease-In 1s 0s infinite;
	transition: all 1s;
}

@keyframes ani {
	0% {
		bottom: 70px;
		opacity: 0;
	}

	50% {
		bottom: 50px;
		opacity: 1;
	}

	100% {
		bottom: 70px;
		opacity: 0;
	}
}

/*caption 작업*/
.home > .caption {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 999;
	font-family: 'NSKR';
	font-size: 10.5px;
	color: #3f3f3e;
	text-align: center;
	padding: 17px 0;
	background-image: url(images/caption_bg.png);
}


/*panel1 작업*/
.panel1 .sec_con {
	padding-top: 47px;
}

.panel1 .sec_con > h1 {
	font-size: 35px;
	color: #333;
	padding-bottom: 15px;
	font-weight: 300;
}

.panel1 .sec_con > span {
	font-size: 20px;
	font-family: 'NSKL', '맑은 고딕';
	color: #333;
	font-weight: 400;
}

.panel1 .sec_con ul {
	padding-top: 25px;
}

.panel1 .sec_con ul > li {
	width: calc(100% / 3);
	opacity: 0;
	transition: all 2s;
}

.panel1 .sec_con ul > li:nth-of-type(1) {
	transform: translateY(10px);
}

.panel1 .sec_con ul > li:nth-of-type(2) {
	transform: translateY(40px);
}

.panel1 .sec_con ul > li:nth-of-type(3) {
	transform: translateY(70px);
}

body[data-scrollify-page-no="1"] .sec_con > ul > li:nth-of-type(1) {
	opacity: 1;
	transform: translateY(0);
}

body[data-scrollify-page-no="1"] .sec_con > ul > li:nth-of-type(2) {
	opacity: 1;
	transform: translateY(0);
}

body[data-scrollify-page-no="1"] .sec_con > ul > li:nth-of-type(3) {
	opacity: 1;
	transform: translateY(0);
}

.panel1 .sec_con ul > li:nth-child(3n+1) {
	clear: both;
}

.panel1 .sec_con ul > li:first-child::after {
	position: absolute;
	content: "";
	background-color:#3f3D33;
	width: 100%;
	height: 100%;
	top: 0;
	display: none;
}

.panel1 .sec_con ul > li:nth-of-type(2)::after {
	position: absolute;
	content: "";
	background-color: #2C3F46;
	width: 100%;
	height: 100%;
	top: 0;
	display: none;
}

.panel1 .sec_con ul > li:nth-of-type(3)::after {
	position: absolute;
	content: "";
	background-color: #729246;
	width: 100%;
	height: 100%;
	top: 0;
	display: none;
}

.panel1 .sec_con ul > li:hover::after {
	display: block;
}

.panel1 .sec_con ul > li .show {
	top: 50%;
	left: 33.3333333%;
	transform: translateX(-50%);
	transform: translateY(-50%);
	z-index: 2;
}

.panel1 .sec_con ul > li .hide {
	top: 50%;
	left: 33.3333333%;
	transform: translateX(-50%);
	transform: translateY(-50%);
	z-index: 2;
	display: none;
}

.panel1 .sec_con ul > li:hover .show {
	display: none;
}

.panel1 .sec_con ul > li:hover .hide {
	display: block;
}

.panel1 .sec_con ul > li .txt_box {
	bottom: 15%;
	left: 17%;
	text-align: center;
	color: #fff;
	z-index: 55;
	width: 250px;
	opacity: 0;
	transition: all 0.5s
}

.panel1 .sec_con ul > li:hover .txt_box {
	opacity: 1;
}

.panel1 .sec_con ul > li .txt_box .head {
	font-family: 'NSKR';
	font-size: 24px;
	border-bottom: 1px solid #797871;
	padding-bottom: 11px;
	margin-bottom: 12px;
}

.panel1 .sec_con ul > li .txt_box .content {
	font-size: 18px;
	line-height: 24px;
}

.panel1 .arrow {
	left: 50%;
	transform: translateX(-50%);
	z-index: 55;
	animation: pan1_ani ease-Out 1s 0s infinite;
	transition: all 1s;
}

@keyframes pan1_ani {
	0% {
		bottom: 40px;
		opacity: 0;
	}

	50% {
		bottom: 20px;
		opacity: 1;
	}

	100% {
		bottom: 40px;
		opacity: 0;
	}
}

/*panel2 작업*/
.panel2 {
	position: relative;
}

.panel2 .panel2_wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(images/sec_2_bg_img.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
}

.panel2 .cnt_bg {
	height: 100%;
	background-image: url(images/sec_2_bg_img_2.png);
	background-position: left 205px;
	background-repeat: no-repeat;
}

.panel2 .txt_box {
	color: #FFF;
	padding-top: 78px;
	text-align: left;
	display: block;
}

.panel2 .txt_box h1 {
	font-size: 35px;
	color: inherit;
	padding-bottom: 15px;
	font-weight: normal;
}

.panel2 .txt_box span {
	font-size: 20px;
	display: inline-block;
	color: inherit;
}

.panel2 .cnt_bg ul {
	padding-top: 120px;
	position: relative;
}

.panel2 .cnt_bg ul::before {
	position: absolute;
	background-color: gray;
	opacity: 0.3;
	content: "";
	display: block;
	width: 500%;
	height: 380px;
	left: -200%;
	top: 15%;
	z-index: 1;
}

.panel2 .cnt_bg ul li {
	color: #fff;
	text-align: center;
	width: calc(100% / 3);
	z-index: 10;
	opacity: 0;
	transition: all 2.5s;
}

.panel2 .cnt_bg ul > li:nth-of-type(1) {
	transform: translateY(10px);
	transition-delay: 0s;
}

.panel2 .cnt_bg ul > li:nth-of-type(2) {
	transform: translateY(50px);
	transition-delay: 0.3s;
}

.panel2 .cnt_bg ul > li:nth-of-type(3) {
	transform: translateY(90px);
	transition-delay: 0.6s;
}

.panel2 .cnt_bg ul li > a {
	display: block;
	height:100px;
}

body[data-scrollify-page-no="2"] .panel2 .cnt_bg > ul > li {
	opacity: 1;
	transform: translateY(0);
}

.panel2 .cnt_bg ul li img {
	margin: 0 auto;
	padding-bottom: 30px;
}

.panel2 .cnt_bg ul li .txt_1 {
	font-family: 'NSKR';
	font-size: 30px;
	position: relative;
}

.panel2 .cnt_bg ul li .txt_1::after {
	position: absolute;
	content: "";
	width: 80%;
	height: 1px;
	background-color: #8C988A;
	bottom: -30px;
	left: 10%;
}

.panel2 .cnt_bg ul li .txt_2 {
	font-family: 'NSKR';
	font-size: 18px;
	color: #bec3b9;
	padding-top: 50px;
}

.panel2 .arrow {
	left: 50%;
	transform: translateX(-50%);
	z-index: 55;
	animation: pan2_ani ease-In 1s 0s infinite;
	transition: all 1s;
}

@keyframes pan2_ani {
	0% {
		bottom: 40px;
		opacity: 0;
	}

	50% {
		bottom: 20px;
		opacity: 1;
	}

	100% {
		bottom: 40px;
		opacity: 0;
	}
}

/*panel3 작업*/
.panel3 .wrap {
	padding-top: 87px;
}

.panel3 .wrap .text_box {
	width: 25%;
}

.panel3 .wrap .text_box > a {
	display: inline-block;
}

.panel3 .wrap .text_box > a:hover > h1 {
	text-decoration: underline;
}

.panel3 .wrap .text_box h1 {
	font-size: 45px;
	color: #333;
	font-weight: 300;
	padding-bottom: 20px;
}

.panel3 .wrap .text_box span {
	display: block;
	font-size: 20px;
	color: #333333;
	line-height: 30px;
	font-weight: 300;
}

.panel3 .wrap .menu_list {
	width: 75%;
}

.panel3 .wrap .menu_list ul li {
	width: calc(100% / 3);
	padding: 0 10px;
	opacity: 0;
	transform: translateY(50px);
	transition: 1s;
}

.panel3 .wrap .menu_list ul > li:nth-of-type(1) {
	transition-delay: 0s
}

.panel3 .wrap .menu_list ul > li:nth-of-type(2) {
	transition-delay: 0.5s
}

.panel3 .wrap .menu_list ul > li:nth-of-type(3) {
	transition-delay: 1s
}

.panel3 .wrap .menu_list ul > li:nth-of-type(4) {
	transition-delay: 1.5s
}

.panel3 .wrap .menu_list ul > li:nth-of-type(5) {
	transition-delay: 2s
}

.panel3 .wrap .menu_list ul > li:nth-of-type(6) {
	transition-delay: 2.5s
}

body[data-scrollify-page-no="3"] .panel3 .wrap .menu_list > ul > li {
	opacity: 1;
	transform: translateY(0);
}


.panel3 .wrap .menu_list ul li .img-box {
	margin-bottom: 15px;
}

.panel3 .wrap .menu_list ul li .txt {
	margin-bottom: 30px;
	color: #666;
	font-size: 15px;
}

.panel3 .wrap .menu_list ul li a:nth-of-type(2):hover .txt {
	text-decoration: underline;
}

/*panel4 작업*/


.panel4 .left_box {
	width: 40%;
	height: 100%;
	background-color: #7f9f52;
}

.panel4 .left_box .txt_box {
	padding-top: 228px;
	padding-left: 180px;
}

.panel4 .left_box .txt_box > h1 {
	font-size: 45px;
	padding-bottom: 36px;
	color: #FFF;
	font-weight: 400;
}

.panel4 .left_box .txt_box > span {
	display: block;
	font-size: 20px;
	line-height: 32px;
	color: #FFF;
	font-weight: 300;
}

.panel4 .right_box {
	width: 60%;
	height: 100%;
	overflow: hidden;
}

.panel4 .right_box ul {
	width: 100%;
	height: 100%;
	position: relative;
}

.panel4 .right_box ul li {
	position: absolute;
	width: 50%;
	height: 50%;
}

.panel4 .right_box ul li:nth-of-type(1) {
	top: 0;
	left: 0;
}

.panel4 .right_box ul li:nth-of-type(2) {
	top: 0;
	right: 0;
}

.panel4 .right_box ul li:nth-of-type(3) {
	bottom: 0;
	left: 0;
}

.panel4 .right_box ul li:nth-of-type(4) {
	bottom: 0;
	right: 0;
}

.panel4 .right_box ul li::after {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: red;
}

.panel4 .right_box > ul > li .img-box {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.panel4 .right_box ul li .txt_box {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	padding-bottom: 14px;
	color: #fff;
	text-align: center;
	z-index: 97;
}

.panel4 .right_box ul li .txt_box::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 6px;
	background-color: white;
	opacity: 0;
}

.panel4 .right_box ul li .txt_box span {
	opacity: 0;
	position: absolute;
	font-size: 18px;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 30px;
	width: 200%;
	transition: opacity 1s;
}

.panel4 .right_box ul li .txt_box span.second {
	padding-top: 55px;
}

.panel4 .right_box ul li:hover .txt_box span,
.panel4 .right_box ul li:hover .txt_box::after {
	opacity: 1;
}

.panel4 .right_box ul li span.main_bg_1 {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(184, 182, 134);
	display: none;
	z-index: 5;
}

.panel4 .right_box ul li span.main_bg_2 {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(154, 180, 117);
	display: none;
	z-index: 5;
}

.panel4 .right_box ul li span.main_bg_3 {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(142, 139, 120);
	display: none;
	z-index: 5;
}

.panel4 .right_box ul li span.main_bg_4 {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(125, 139, 104);
	display: none;
	z-index: 5;
}

.panel4 .right_box ul li:hover span.main_bg_1,
.panel4 .right_box ul li:hover span.main_bg_2,
.panel4 .right_box ul li:hover span.main_bg_3,
.panel4 .right_box ul li:hover span.main_bg_4 {
	display: block;
}


.panel4 .right_box ul li span.bg_1 {
	width: 114px;
	height: 116px;
	background: #cfcd96;
	bottom: 0;
	right: 0;
	opacity: 0.7;
	z-index: 7;
}

.panel4 .right_box ul li span.bg_2 {
	width: 114px;
	height: 116px;
	background: #849c62;
	bottom: 0;
	left: 0;
	opacity: 0.7;
	z-index: 7;
}

.panel4 .right_box ul li span.bg_3 {
	width: 114px;
	height: 116px;
	background: #766c56;
	top: 0;
	right: 0;
	opacity: 0.7;
	z-index: 7;
}

.panel4 .right_box ul li span.bg_4 {
	width: 114px;
	height: 116px;
	background: #444c38;
	top: 0;
	left: 0;
	opacity: 0.7;
	z-index: 7;
}

.panel4 .right_box ul li:hover span.bg_1,
.panel4 .right_box ul li:hover span.bg_2,
.panel4 .right_box ul li:hover span.bg_3,
.panel4 .right_box ul li:hover span.bg_4 {
	opacity: 1;
}

/*footer 작업*/
.footer .footer_wrap {
	padding-top: 40px;
	padding-bottom: 100px;
}

.footer .footer_wrap .logo {
	margin-bottom: 30px;
}

.footer .footer_wrap .logo img {
	margin: 0 auto;
	display: block;
	line-height: 0;
}

.footer .footer_wrap .footer_menu {
	text-align: center;
}

.footer .footer_wrap .footer_menu ul {
	display: inline-block;
	margin: 0 auto;
}

.footer .footer_wrap .footer_menu ul li {
	padding: 0px 17px;
	border-right: 1px solid lightgray;
	color: #585858;
	line-height: 15px;
	font-size: 17px;
}

.footer .footer_wrap .footer_menu ul li:hover {
	text-decoration: underline;
}

.footer .footer_wrap .footer_menu ul li:first-child {
	color: #004f18 !important;
}

.footer .footer_wrap .footer_menu p {
	font-size: 15px;
	color: #585858;
	line-height: 15px;
}

.footer .footer_wrap .footer_menu p.address {
	padding-top: 27px
}

.footer .footer_wrap .footer_menu p.copyright {
	padding-top: 10px;
	padding-bottom: 40px;
}

.footer .footer_wrap .footer_menu p span {
	padding: 0px 10px;
	position: relative;
}

.footer .footer_wrap .footer_menu p span:not(:last-child)::after {
	position: absolute;
	content: "";
	top: 5px;
	right: 0;
	width: 1px;
	height: 15px;
	background-color: lightgray;
}

.footer .footer_wrap .sns_box {
	display:block;
	position: relative;
	background-color: red;
}

.footer .footer_wrap .sns_box .sns_box_wrap {
	position: absolute;
	top:0;
	left:50%;
	transform: translateX(-50%);
}

.footer .footer_wrap .sns_box ul li {
	padding-top:6px;
    padding-right: 15px;
}

.footer .footer_wrap .sns_box > .sns_box_wrap > ul > li:nth-of-type(1) {
	font-family: 'NSKL';
    font-size: 15px;
    color: #585858;
    padding-right: 20px;
    background: url(images/footer_right.gif) no-repeat right 7px top 14px;
    margin-right: 15px;
	padding-top: 9px;
}
    

.footer .footer_wrap .sns_box .family_box {
    width: 230px;
    height: 35px;
    font-size: 14px;
    color: #585858;
    line-height: 35px;
	padding-left:14px;
    border: 3px solid #bbb;
    cursor: pointer;
	margin-left: 30px;
	font-family: 'NSKL', '맑은 고딕';
}

.footer .footer_wrap .sns_box .family_box img {
	position: absolute;
	top:50%;
	right:10px;
}

.footer .footer_wrap .sns_box .family_box .site {
	bottom:-3px;
	right:-3px;
	width:580px;
	height:350px;
	z-index: 88;
	background-color: white;
	border:3px solid #bbb;
	display:none;
}

.footer .footer_wrap .sns_box .family_box.active .site {
	display:block;
}

.footer .footer_wrap .sns_box .family_box .site ul {
    font-family: 'NSKR';
    font-size: 18px;
    color: #333;
	width:auto;
	padding-top: 20px;
	margin-right: 30px;
}

.footer .footer_wrap .sns_box .family_box .site ul:nth-of-type(1) {
	right:360px;
}

.footer .footer_wrap .sns_box .family_box .site ul:nth-of-type(2) {
	right:180px;
}

.footer .footer_wrap .sns_box .family_box .site ul:nth-of-type(3) {
	right:0;
}

.footer .footer_wrap .sns_box .family_box .site ul li {
	font-size: 14px;
	color:#636363;
	padding:0;
	line-height: 25px;
}

.footer .footer_wrap .sns_box .family_box .site ul li:nth-of-type(1) {
	padding-top:10px;
	position: relative;
}

.footer .footer_wrap .sns_box .family_box .site ul li:nth-of-type(1)::after {
	position: absolute;
	content:"";
	top:0;
	left:0;
	width:100%;
	height:1px;
	background-color: #bbb;
}


/*반응형 작업*/
@media (min-width:1024px) {
	.top-bar {
		min-width: 1230px;
	}
	.top-bar > .top_bar_con .more_right {
		display:none;
	}
	.top-bar > .top_bar_con .btn_ham {
		display:none;
	}
	.top-search-bar {
		display: none;
	}
	section.home {
		min-width: 1230px;
	}

	.panel1 .second {
		display:none;
	}
	.panel1 > .sec_con > ul > li .first{
		display:block;
	}
	
	.panel1 > .sec_con > ul > li .second{
		display:none;
	}
	
	.panel1 > .sec_con > ul > li .third{
		display:none;
	}
	
	section.panel2 {
		min-width: 1130px;
	}
	section.panel3 {
		min-width: 1200px;
	}
	section.panel4 {
		min-width: 1350px;
	}
}

@media (max-width:1024px) and (min-width:760px) {
	.top-bar .top_bar_con {
		background-color: white;
		height: 80px;
		border-bottom: 1px solid #c4c4c4;
	}
	
	.top-bar .top_bar_con h1 a img {
		text-align: center;
	} 
	.top-bar .top_bar_menu, .top-bar .right_bar, .top-bar .top_bar_con > input, .top-bar .top_bar_con > img{
		display:none;
	}
	
	.top-bar > .top_bar_con > h1 {
		position: absolute;
		margin-top: 0;
		left:50%;
		top:50%;
		transform: translate(-50%, -50%);
	}
	
	.top-bar > .top_bar_con .btn_cart {
		transform: scale(1);
		top:50%;
		transform: translateY(-50%);
	}
	
	.top-bar > .top_bar_con .more_right {
		display:block;
		top:50%;
		right:50px;
		transform: translateY(-50%);
	}
	
	.top-bar > .top_bar_con .btn_ham {
		display:block;
		top:50%;
		left:50px;
		transform: translateY(-50%);
	}
	
	.top-search-bar {
		background-color: #ffffff;
		padding:10px 20px;
		display: none;
	}
	
	.top-search-bar.active {
		display:block;
	}
	
	.top-search-bar > input {
		width: 92%;
		padding: 10px;			
	}
	
	.top-search-bar > a {
		width: 5%;
		padding: 8px 0px;
		margin-left: 4px;
		text-align: center;
		color:#ffffff;
		background-color: #535353;
		border:1px solid #535353;
	}
	
	/*panel 작업*/
	.home {
		min-width: 930px;
	}
	
	.home video {
		padding:0 38px;
	}
	
	.home > .menu_1 {
		width:600px;
		margin: 0 auto;
		bottom:200px;
	}
	
	.home > .menu_1 > li {
		width:150px;
		padding:10px;
	}
	
	.home > .menu_1 > li:not(:last-child)::after {
		bottom: 10px;
	}
	
	.home > .menu_1 > li > a >.text {
		font-size:14px;
	}
	
	.home > .menu_1 > li:first-child > a >.text {
		margin-left:-10px;
	}

	.home > .menu_1 > li div > img:first-child {
		display: block;
	}
	
	.home > .menu_1 > li div > img:last-child {
		display: none;
	}
	
	.home > .menu_1 > li a:nth-of-type(1):hover img {
	opacity: 1;
	}
	
	/*panel1 작업*/
	.panel1 {
		padding:0 38px;
	}
	
	.panel1 .sec_con > h1 {
		padding-bottom: 10px;
	}
	
	.panel1 > .sec_con > span{
		font-size:14px;
	}
	
	.panel1 > .sec_con > ul {
		width:700px;
		margin:0 auto;
		margin-top: 70px;
	}
	
	.panel1 > .sec_con > ul > li .first{
		display:none;
	}
	
	.panel1 > .sec_con > ul > li .second{
		display:block;
	}
	
	.panel1 > .sec_con > ul > li .third{
		display:none;
	}
	
	.panel1 .sec_con ul > li:hover::after {
	display: none;
	}
	
	.panel1 > .sec_con > ul > li .show, .panel1 > .sec_con > ul > li .hide {
		width:90px;
		height:90px;
		top:80px;
		left:50%;
		transform: translate(-50%, -50%);
	}
	
	.panel1 > .sec_con > ul > li:nth-of-type(1) .show {
		display: none;
	}
	
	.panel1 > .sec_con > ul > li:nth-of-type(1) .hide {
		display: block;
	}
	
	.panel1 > .sec_con > ul > li:nth-of-type(2) .show {
		display: none;
	}
	
	.panel1 > .sec_con > ul > li:nth-of-type(2) .hide {
		display: block;
	}
	
	.panel1 > .sec_con > ul > li:nth-of-type(3) .show {
		display: block;
	}
	
	.panel1 > .sec_con > ul > li:nth-of-type(3) .hide {
		display: none;
	}
	
	.panel1 > .sec_con > ul > li .txt_box {
		opacity: 1;
		left:0;
		width:232px;
	}
	
	.panel1 > .sec_con > ul > li .txt_box > .head {
		font-size:24px;
		font-weight: 500;
		border-bottom: 0px;
	}
	
	.panel1 > .sec_con > ul > li .txt_box > .content{
		font-size:14px;
		font-weight: 300;
		line-height:20px;
	}
	
	
	/*panel2 작업*/
	.panel2_wrap {
		padding:0 38px;
	}

	.panel2 ul {
		width:70%
	}

	/*panel3 작업*/
	.panel3 {
		padding:0 38px;
	}
	
	.panel3 .wrap {
		padding-top: 20px;
	}

	.panel3 .wrap .text_box {
		width:100%;
		margin-bottom: 30px;
	}
	
	.panel3 .wrap .text_box h1 {
		font-size: 33px;
		padding-bottom: 0;
	}
	
	.panel3 .wrap .text_box span {
		display: inline-block;
		font-size: 10px;
	}
	
	.panel3 .wrap .menu_list {
		width:100%;
	}
	
	.panel3 .wrap .menu_list > ul > li .txt {
		font-size:12px;
		margin-bottom: 50px;
	}
	
	/*panel4 작업*/
	.panel4 .left_box{
		width:100%;
		height:25%;
	}
	
	.panel4 .left_box .txt_box {
		margin:0;
		padding:0;
		padding-top: 20px;
		padding-left:30px;
	}
	
	.panel4 .left_box .txt_box h1{
		font-family: 'NSKR';
   		font-size: 25px;
    	padding-bottom: 15px;
	}
	
	.panel4 .left_box .txt_box span {
		display: block;
    	font-size: 10px;
    	line-height: 18px;
	}
	
	.panel4 .right_box {
		width:100%;
		height: 75%;
		overflow: hidden;
	}
	
	.panel4 .right_box ul {
		width:100%;
		height:100%;
	}

	.panel4 .right_box ul li span.main_bg_1, .panel4 .right_box ul li span.main_bg_2, .panel4 .right_box ul li span.main_bg_3, .panel4 .right_box ul li span.main_bg_4 {
		opacity: 0;
	}
	
	.panel4 .right_box ul li span.bg_1, .panel4 .right_box ul li span.bg_2, .panel4 .right_box ul li span.bg_3, .panel4 .right_box ul li span.bg_4{
		width:100px;
		height: 100px;
	}
	
	.panel4 .right_box ul li .txt_box span{
		opacity: 1;
	}
	
	.panel4 .right_box ul li:hover .txt_box::after {
		opacity: 0;
	}

	/*푸터 작업*/

	.footer .sns_box_wrap {
		width:540px;
	}

}

@media (max-width:759px) {
	.top-bar .top_bar_con {
		background-color: white;
		height: 50px;
		border-bottom: 1px solid #c4c4c4;
	}
	
	.top-bar > .top_bar_con > h1 {
		position: absolute;
		margin-top: 0;
		left:50%;
		top:50%;
		transform: translate(-50%, -50%);
	}

	.top-bar > .top_bar_con > h1 a {
		position: absolute;
		left:50%;
		top:50%;
		transform: translate(-50%, -50%);
	}

	.top-bar > .top_bar_con > h1 a img {
		width:70px;
	} 
	.top-bar .top_bar_menu, .top-bar .right_bar, .top-bar .top_bar_con > input, .top-bar .top_bar_con > img{
		display:none;
	}
	
	.top-bar > .top_bar_con .btn_cart {
		transform: scale(0.2);
		top:50%;
		right:45px;
		transform: translateY(-50%);
	}
	
	.top-bar > .top_bar_con .btn_cart > img {
		width:45px;
	}
	
	.top-bar > .top_bar_con .more_right {
		display:block;
		top:50%;
		right:10px;
		transform: translateY(-50%);
		width: 25px;
	}

	.top-bar > .top_bar_con .btn_ham {
		display:block;
		top:50%;
		left:15px;
		transform: translateY(-50%);
		width:20px;
	}
	
	.top-search-bar {
		background-color: #ffffff;
		padding:10px 10px 10px 15px;
		display: none;
	}
	
	.top-search-bar.active {
		display:block;
	}
	
	.top-search-bar > input {
		width: 90%;
		padding: 7px;
	}
	
	.top-search-bar > a {
		width: 8%;
		padding: 4px 0px;
		margin-left: 8px;
		text-align: center;
		color:#ffffff;
		background-color: #535353;
		border:1px solid black;
	}
	
	/*home 작업*/
	.home {
		min-width:320px;
	}
	
	.home figure {
		display:none;
	}
	
	.home > .pic_box {
		display:block;
		height: auto;
		overflow: hidden;
	}
	
	.home > .pic_box > div {
		margin-left:-20px;
	}
	
	.home > .menu_1 {
		width:30px;
		margin: 0 auto;
		bottom:200px;
		min-width: 240px;
	}
	
	.home > .menu_1 > li {
		width:120px;
		padding:10px;
	}
	
	.home > .menu_1 > li:not(:last-child)::after {
		display:none
	}

	.home > .menu_1 > li > a >.text {
		font-size:10px;
	}
	
	.home > .menu_1 > li:first-child > a >.text {
		margin-left:0px;
	}
	
	.home > .menu_1 > li div {
		display:block;
		margin:0 auto;
	}

	.home > .menu_1 > li div > img:first-child {
		display: block;
		width:90px;
		margin:0 auto;
	}
	
	.home > .menu_1 > li div > img:last-child {
		display: none;
	}
	
	.home > .menu_1 > li a:nth-of-type(1):hover img {
		opacity: 1;
	}
	
	/*panel1 작업*/
	.panel1 {
		padding:0 10px;
	}
	
	.panel1 .sec_con {
		margin-top: 76px;
	}
	
	.panel1 .sec_con > h1 {
		padding-bottom: 10px;
		font-weight: normal;
		font-size:22px
	}
	
	.panel1 > .sec_con > span{
		font-size:14px;
	}
	
	.panel1 > .sec_con > ul {
		margin:0 auto;
		margin-top: 40px;
	}
	
	.panel1 > .sec_con > ul > li {
		float:none;
		width:100%;
		height:150px;
		overflow: hidden;
	}
	
	.panel1 > .sec_con > ul > li .first{
		display:none;
	}
	
	.panel1 > .sec_con > ul > li .second{
		display:none;
	}
	
	.panel1 > .sec_con > ul > li .third{
		display:block;
	}
	
	.panel1 > .sec_con > ul > li:nth-child(3) .third{
		display:block;
	}

	.panel1 .sec_con ul > li:hover::after {
		display: none;
	}
	
	.panel1 > .sec_con > ul > li .show, .panel1 > .sec_con > ul > li .hide {
		width:70px;
		height:70px;
		top:50%;
		left:100px;
		transform: translate(-50%, -50%);
	}
	
	.panel1 > .sec_con > ul > li:nth-of-type(1) .show {
		display: none;
	}
	
	.panel1 > .sec_con > ul > li:nth-of-type(1) .hide {
		display: block;
	}
	
	.panel1 > .sec_con > ul > li:nth-of-type(2) .show {
		display: none;
	}
	
	.panel1 > .sec_con > ul > li:nth-of-type(2) .hide {
		display: block;
	}
	
	.panel1 > .sec_con > ul > li:nth-of-type(3) .show {
		display: block;
	}
	
	.panel1 > .sec_con > ul > li:nth-of-type(3) .hide {
		display: none;
	}
	
	.panel1 > .sec_con > ul > li .txt_box {
		opacity: 1;
		top:50%;
		left:150px;
		width:150px;
		text-align: left;
		transform: translateY(-50%);
	}
	
	.panel1 > .sec_con > ul > li .txt_box > .head {
		font-size:15px;
		font-weight: 500;
		border-bottom: 0px;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	
	.panel1 > .sec_con > ul > li .txt_box > .content{
		font-size:10px;
		font-weight: 300;
		line-height:15px;
	}
	
	/*panel2 작업*/

	.panel2_wrap {
		padding:0 15px;
	}
	
	.panel2 .cnt_bg .txt_box > h1 {
		font-size:22px
	}
	
	.panel2 .cnt_bg .txt_box > span {
		font-size:14px;
		display:block;
		font-weight: 300;
	}

	.panel2 .cnt_bg ul {
		padding: 0 40px;
		padding-top:180px;
		margin-left: -40px;
	}
	
	.panel2 .cnt_bg ul li > a {
		display: block;
		height: 0px;
		margin-bottom: 50px;
		position: relative;
	}
	
	.panel2 .cnt_bg ul li > a > img {
		width:50px;
		height:auto;
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		padding-bottom: 0px;
	}
	
	.panel2 .cnt_bg ul li .txt_1 {
		font-size:15px;
		font-weight: bold;
	}
	
	.panel2 .cnt_bg ul li .txt_1::after {
		bottom:-10px;
	}
	
	.panel2 .cnt_bg ul li .txt_2 {
		font-size:14px;
		padding-top: 20px;
	}
	
	/*panel3 작업*/
	.panel3 {
		padding: 0px 15px;
	}

	.panel3 .wrap {
		padding-top: 20px;
	}

	.panel3 .wrap .text_box {
		width:100%;
		margin-bottom: 30px;
	}
	
	.panel3 .wrap .text_box h1 {
		font-weight: normal;
		font-size:22px;
		padding-bottom: 0;
	}
	
	.panel3 .wrap .text_box span {
		display: inline-block;
		font-size: 14px;
	}
	
	.panel3 .wrap .menu_list {
		width:100%;
	}
	
	.panel3 .wrap .menu_list > ul > li .txt {
		font-size:12px;
		margin-bottom: 50px;
	}
	
	/*panel4 작업*/
	.panel4 {	
		min-width: 621px;
	}
	
	.panel4 .left_box{
		width:100%;
		height:25%;
	}
	
	.panel4 .left_box .txt_box {
		margin:0;
		padding:0;
		padding-top: 20px;
		padding-left:30px;
	}
	
	.panel4 .left_box .txt_box h1{
		font-family: 'NSKR';
   		font-weight: normal;
		font-size:22px;
    	padding-bottom: 15px;
	}

	.panel4 .left_box .txt_box span {
		display: block;
    	font-size: 14px;
    	line-height: 18px;
	}
	
	.panel4 .right_box {
		width:100%;
		height:75%;
		overflow: hidden;
	}
	
	.panel4 .right_box ul {
		width:100%;
		height:100%;
	}
	
	.panel4 .right_box ul li {
		position: absolute;
		width: 50%;
		height: 50%;
		z-index: 999;
		min-width: 285px;
	}

	.panel4 .right_box ul li:nth-of-type(1) {
		top: 0;
		left: 0;
	}

	.panel4 .right_box ul li:nth-of-type(2) {
		top: 0;
		right: 0;
	}

	.panel4 .right_box ul li:nth-of-type(3) {
		bottom: 0;
		left: 0;
	}

	.panel4 .right_box ul li:nth-of-type(4) {
		bottom: 0;
		right: 0;
	}

	.panel4 .right_box ul li span.main_bg_1, .panel4 .right_box ul li span.main_bg_2, .panel4 .right_box ul li span.main_bg_3, .panel4 .right_box ul li span.main_bg_4 {
		opacity: 0;
	}
	
	.panel4 .right_box ul li span.bg_1, .panel4 .right_box ul li span.bg_2, .panel4 .right_box ul li span.bg_3, .panel4 .right_box ul li span.bg_4{
		width:40px;
		height: 40px;
	}
	
	.panel4 .right_box ul li .txt_box {
		font-size:16px;
	}
	
	.panel4 .right_box ul li .txt_box span{
		opacity: 0;
	}
	
	.panel4 .right_box ul li:hover .txt_box span{
		opacity: 0;
	}
	
	.panel4 .right_box ul li:hover .txt_box::after {
		opacity: 0;
	}

	/*footer 작업*/
	.footer .logo img {
		width: 60px;
	}

	.footer .footer_wrap .footer_menu ul li{
		float:none;
		display: block;
		border-right: 0;
	}
	
	.footer .footer_menu > ul > li > a{
		font-size:10px;
		font-weight: 200;
	}
	
	.footer .footer_menu > ul > li:first-child > a{
		font-weight: 500;
	}
	
	.footer .footer_wrap .footer_menu > p.copyright {
		font-size:10px;
		font-weight:200;
		padding-bottom: 20px;
	}
	
	.footer .footer_wrap .footer_menu > p > span {
		font-size:10px;
		font-weight:200;
		display:block;
	} 
	
	.footer .footer_wrap .sns_box .sns_box_wrap{
		width:280px;
		color: #999;
		padding-bottom: 50px;
	}
	
	.footer .footer_wrap .sns_box .family_box {
		font-size:9px;
		width:160px;
		margin-top:20px;
		margin-left: 60px;
	}
	
	.footer .footer_wrap .sns_box .family_box .site {
		width:320px;
		left:50%;
		transform: translateX(-50%);
	}
	
	.footer .footer_wrap .sns_box .family_box .site ul {
		font-size: 12px;
		margin-right: 0px;
	}
	
	.footer .footer_wrap .sns_box .family_box .site ul> a {
		display: block;
		text-align: center;
	}
	
	.footer .footer_wrap .sns_box .family_box .site ul:nth-of-type(1) {
		left:0px;
		width:100px;
	}

	.footer .footer_wrap .sns_box .family_box .site ul:nth-of-type(2) {
		left:110px;
		width:100px;
	}

	.footer .footer_wrap .sns_box .family_box .site ul:nth-of-type(3) {
		right:0;
		width:100px;
		overflow: hidden;
	}

	.footer .footer_wrap .sns_box .family_box .site ul li {
		font-size: 10px;
	}
	
	section .arrow {
		display:none;
	}
	
}

@media (max-width:530px){
	.panel4 .right_box ul li > a > span {
		display:none
	}
}

@media (max-width:458px) and (min-width:386px) {
	.panel1 .sec_con > ul > li{
		height:126px;
	}

	.top-search-bar > input {
		width: 85%;
		padding: 7px;
	}
	
	.top-search-bar > a {
		width: 10%;
		padding: 4px 0px;
		margin-left: 8px;
	}
}

@media (max-width:386px) and (min-width:342px) {
	.panel1 .sec_con > ul > li{
		height:110px;
	}
	
	.top-search-bar > input {
		width: 85%;
		padding: 7px;
	}
	
	.top-search-bar > a {
		width: 10%;
		padding: 4px 0px;
		margin-left: 8px;
	}

}

@media (max-width:342px) and (min-width:320px) {
	.panel1 .sec_con > ul > li{
		height:105px;
	}
	
	.top-search-bar > input {
		width: 80%;
		padding: 7px;
	}
	
	.top-search-bar > a {
		width: 15%;
		padding: 4px 0px;
		margin-left: 8px;
	}
}

@media (max-width:320px) {
	#left-side-bar {
		left:-350px;
		width:300px;
		height:100%;
		background-color:#ffffff;
		transition:left 0.5s, background-color 0.5s;
		z-index:9999;
		padding: 0 10px;
	}
	
	.panel1 .sec_con > ul > li{
		height:103px;
	}
	
	.panel1 .sec_con > ul > li .hide {
		width:50px;
		left:30%;
		top:60%;
	}
	
	.panel1 .sec_con > ul > li .show {
		width:50px;
		left:30%;
		top:60%;
	}
	
	.panel1 .sec_con > ul > li .txt_box {
		left:45%;
	}
	
	.panel3 .wrap .menu_list ul li {
		overflow: hidden;
		width: calc(100% / 2);
		padding: 0 10px;
		height:135px;
	}
	
	.panel3 .wrap .menu_list ul li:nth-child(2n+1) {
		clear: both;
	}

	.panel3 .menu_list > ul > li .txt {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis
	}
	
	.panel4 .left_box {
		height:25%;
	}
	
	.panel4 .left_box .txt_box {
		padding-top: 5px;
	}
	
	.panel4 .left_box .txt_box h1{
		font-family: 'NSKR';
   		font-weight: normal;
		font-size:17px;
    	padding-bottom: 10px;
	}

	.panel4 .left_box .txt_box span {
		display: block;
    	font-size: 13px;
    	line-height: 20px;
	}
	
	.panel4 .right_box {
		height:75%;
		overflow: hidden;
	}

	.panel4 .right_box ul li {
		position: absolute;
		width: 320px;
		height: 50%;
		z-index: 9998;
	}

	.panel4 .right_box ul li:nth-of-type(1) {
		top: 0;
		left: 0;
	}

	.panel4 .right_box ul li:nth-of-type(2) {
		opacity: 0;
		top:0;
		left:0;
	}
	
	.panel4 .right_box ul li:nth-of-type(2).active{
		opacity: 1;
	}

	.panel4 .right_box ul li:nth-of-type(3) {
		bottom: 0;
		left: 0;
	}

	.panel4 .right_box ul li:nth-of-type(4) {
		opacity: 0;
		bottom: 0;
		left: 0;
	}
	
	.panel4 .right_box ul li:nth-of-type(4).active{
		opacity: 1;
	}
	
	
	.pagination {
		display:none;
	}
}