/* top-bar 작업 */

.con {
    width: 1300px;
}

.con-min-width {
	min-width:1250px;
}


.top_bar_2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 9999;
}

.top_bar_1 {
    overflow: hidden;
}

.top_bar_1 .logo {
    width: 85px;
    transform: scale(1.7);
    margin-left: 20px;
    margin-top: 5px;
}

.top_bar_1 .menu-1 {
    margin-left: 35px;
}

.top_bar_1 .menu-1 > ul > li {
    text-align: center;
}

.top_bar_1 .menu-1 > ul > li > a {
    padding: 23px 0;
    padding-right: 30px;
    position: relative;
}

.top_bar_1 .menu-1 > ul > li > a > i {
    margin-left: 4px;
    transition: all .2s;
}

.top_bar_1 .menu-1 > ul > li:hover > a > i {
    transform: rotate(-180deg);
}

.top_bar_1 > .menu-1 > ul > li:hover > a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2.5px;
    background-color: black;
    left: 0;
    bottom: 5%;
}

.top_bar_1 > .menu-1 > ul > li:not(:first-child) ul > li:hover > a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2.5px;
    background-color: black;
    left: 0;
    bottom: 5%;
}

.top_bar_1 .menu-1 > ul > li > div {
    position: absolute;
    display: none;
    background-color: white;
    left: 0;
    width: 100%;
}

.top_bar_1 .menu-1 > ul > li > div > div {
    width: calc(100% - 500px);
}

.top_bar_1 .menu-1 > ul > li:hover > div {
    display: block;
}

.top_bar_1 .menu-1 ul > .con-min-width ul {
    padding: 10px;
}


.top_bar_1 .menu-1 > ul > li:nth-of-type(1) ul li {
    width: calc(100% / 5);
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.top_bar_1 .menu-1 > ul > li:nth-of-type(1) ul li:not(:last-child) {
    border-right: 1px solid #333333;
}

.top_bar_1 .menu-1 > ul > li > div > div > ul > li > .my_car {
    background-color: #0c2340;
    border: 1px solid black;
    padding: 2px 18px;
    border-radius: 5px;
    color: white;
    font-weight: 100;
    margin-bottom: 15px;
    margin-top: 18px;
}

.top_bar_1 .menu-1 > ul > li:nth-of-type(1) ul > li > div:last-child a {
    border: 1px solid black;
    padding: 2px 25px;
    border-radius: 5px;
}
.top_bar_1 .menu-1 > ul > li:nth-of-type(2) ul {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 90px;
}

.top_bar_1 .menu-1 > ul > li:nth-of-type(2) ul li {
    margin: 0 auto;
}

.top_bar_1 .menu-1 > ul > li:nth-of-type(2) ul > li > a {
    padding: 5px 0;
}

.top_bar_1 .menu-1 > ul > li:nth-of-type(4) > div > div {}

.top_bar_1 .menu-1 > ul > li:nth-of-type(4) ul {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 80px;
}

.top_bar_1 .menu-1 > ul > li:nth-of-type(4) ul:first-child {
    margin-right: 200px;
    margin-left: 150px;
}

.top_bar_1 .menu-1 > ul > li:nth-of-type(4) ul > li > a {
    padding: 5px 0;
}

.top_bar_1 .menu-1 > ul > li:nth-of-type(6) ul {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top_bar_1 .menu-1 > ul > li:nth-of-type(6) ul:nth-of-type(2) {
    margin-left: 300px;
}

.top_bar_1 .menu-1 > ul > li:nth-of-type(6) ul > li > a {
    padding: 5px 0;
}


/*top_right 작업*/
.top_bar_1 .top_right > ul > li {
    padding: 21.5px 25px;
    font-size: 0.8rem;
}

.top_right > ul > li:nth-of-type(1) {
    background-color: #f2f1f0;
    padding: 25.3px 18px;
}

.top_right > ul > li:nth-of-type(2) {
    background-color: #0c2340;
    color: white;
    padding: 25.3px 18px;
}

/*my-1*/
.my-1 .item {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.my-1 .item .detail {
	position: absolute;
	color:white;
	z-index: 55555;
	bottom:40px;
	left:50px;
}

.my-1 .item span.name {
	position: relative;
	display: inline-block;
	font-size:50px;
	font-weight: 300;
	padding-right: 30px;
	letter-spacing: -4px;
}

.my-1 .item span.name::after {
	position: absolute;
	content:"";
	width:1px;
	height:110px;
	background-color: white;
	bottom:-40px;
	right:-6px;
}


.my-1 .item .detail span.content {
	display: inline-block;
	bottom:40px;
	left:200px;
	padding-left: 30px;
	font-size:18px;
	font-weight: 300;
	letter-spacing: 1px;
}

.my-1 .item .more {
	position: absolute;
	right:78px;
	bottom:45px;
	z-index: 99;
	padding: 10px 31px;
	border-radius: 5px;
	background-color: white;
	font-size:15px;
}

.my-1 > .owl-nav {
    margin-top: 0 !important;
    opacity: 0;
    transition: opacity 1s
}

.my-1:hover > .owl-nav {
    opacity: 100;
}

.my-1 > .owl-dots {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.my-1 > .owl-dots > .owl-dot {
    margin-right: 70px;
    margin-bottom: 20px;
}

.my-1 > .owl-dots > .owl-dot:nth-of-type(5) {
    position: absolute;
    bottom: 0;
    right: 0;
}

.my-1 > .owl-dots > .owl-dot:nth-of-type(4) {
    position: absolute;
    bottom: 0;
    right: 30px;
}

.my-1 > .owl-dots > .owl-dot:nth-of-type(3) {
    position: absolute;
    bottom: 0;
    right: 60px;
}

.my-1 > .owl-dots > .owl-dot:nth-of-type(2) {
    position: absolute;
    bottom: 0;
    right: 90px;
}

.my-1 > .owl-dots > .owl-dot:nth-of-type(1) {
    position: absolute;
    bottom: 0;
    right: 120px;
}


.my-1 > .owl-nav > .owl-prev,
.my-1 > .owl-nav > .owl-next {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-size: 3rem !important;
    padding: 0px 20px 0px 15px !important;
}

.my-1 > .owl-nav > .owl-next {
    left: auto;
    right: 0 !important;
}

/*middle 작업 */
.middle {
    background-color: #f2f1f0;
}

.middle > .container > div {
    float: left;
    margin-right: 50px;
    padding: 13px
}

.middle > .container > .head {
    font-size: 3rem;
}

.middle > .container > .content {
    font-size: 1.5rem;
    margin-top: 18px;
}

/*menu-2 작업*/
.menu-2 > ul {
    background-color: #f2f1f0;
}

.menu-2 > ul > li {
    width: calc(100%/3);
    padding-right: 5px;
    margin-bottom: 5px;
}

.menu-2 > ul > li:nth-of-type(4),
.menu-2 > ul > li:nth-of-type(5),
.menu-2 > ul > li:nth-of-type(6) {
    margin-bottom: 40px;
}

.menu-2 > ul > li:last-child {
    display: none;
}

.menu-2 > ul > li > .title > .top {
    font-size: 1.2rem;
    font-weight: 400;
}

.menu-2 > ul > li .medium,
.menu-2 > ul > li .bottom {
    margin-top: 6px;
}

.menu-2 > ul > li > .title {
    background-color: white;
    padding: 20px;
    height: 250px;
    font-weight: 200;
    font-size: 0.9rem;
}

.menu-2 > ul > li:nth-of-type(2) .title .cta_container {
    margin-top: 133px
}

.menu-2 .title .img-box {
    top: 25%;
    right: 0;
}

.menu-2 .title img {
    width: 230px;
}

.menu-2 .title .cta_container {
    margin-top: 90px
}

.menu-2 .title:nth-of-type(2) > .cta_container {
    margin-top: 400px;
}

.menu-2 .title .cta1 {
    border: 1px solid black;
    padding: 3px 20px;
    right: 22%;
    color:white;
    background-color: #0c2340;
    border-radius: 3px;
}

.menu-2 .title .cta {
    border: 1px solid black;
    padding: 3px 10px;
    right: 0;
    border-radius: 3px;
}


/*carousel 작업*/
.carousel_2 > h2 {
    font-size: 2rem;
    font-weight: 300;
    padding: 20px 0;
}

.carousel_2 {
    padding: 20px;
}

.carousel_2 .item {
    margin: 0 auto;
}

.carousel_2 > ul > li {
    width: calc(100% / 4);
    padding-right: 20px;
}

.carousel_2 > ul > li:nth-of-type(3) > .img-box > img {
    margin-left: -100px;
    width: 133%;
}

.carousel_2 > ul > li:nth-of-type(4) > .img-box > img {
    margin-left: -100px;
    width: 161%;
}

.carousel_2 > ul > li > .img-box {
    overflow: hidden;
}

.carousel_2 > ul > li > .img-box > img {
    transition: transform 2s;
}

.carousel_2 > ul > li:hover > .img-box > img {
    transform: scale(1.3);
}

/*tool_test_drive 작업*/
.tool_test_drive {
    text-align: center;
    background-color: #f2f1f0;
    margin-top: 50px;
    padding: 45px 0;
}

.tool_test_drive .logo {
    padding: 20px;
}

.tool_test_drive > h4 {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 5px;
    color: #333333;
}

.tool_test_drive > .text {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: black;
    font-weight: 400;
}

.tool_test_drive > a:last-child {
    display: inline-block;
    background-color: #0c2340;
    color: white;
    margin-top: 10px;
    padding: 8px 25px;
    border-radius: 3px;
    font-size: 0.8rem
}

/*footer_top작업*/
.footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    font-weight: 100;
}

.footer > .footer_top > .footer_element {
    font-size: 0.8rem;
    text-align: left;
}

.footer > .footer_top > .footer_element:nth-of-type(2) {
    margin-left: 320px;
}

.footer > .footer_top > ul > li:not(:last-child) {
    margin-bottom: 7px;
}

.footer > .footer_top > ul > li > a {
    padding-right: 150px;
}

/*footer_mid 작업*/
.footer > .footer_mid > ul {
    display: inline-block;
}

.footer > .footer_mid > ul > li {
    padding: 10px
}

/*search-bar 작업*/
.search-bar {
    display: inline-block;
}

.search-bar .search_con {
    display: inline-block;
}

.search-bar .search_con > input {
    border: 0;
    padding: 10px;
    display: block;
    width: 500px;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    background-color: #333333;
}

.search-bar > .search_con > a {
    padding: 7px;
}

/*footer_credits 작업*/
.footer_credits {
    padding-top: 30px;
    font-size: 0.8rem;
}

.footer_credits > .footer_link_line1 > ul > li {
    padding: 0 10px;
}

