.answer_box {
  margin-top: 20px;
  padding: 10px;
  background-color: gray;

  ul {
    li {
      color: white;
      padding: 5px 0;
    }
  }
}

.answer_bt {
  display: flex;
  width: 300px;
  margin: 30px auto 0;
  justify-content: space-between;

  .gohome {
    border: 1px solid rgb(82, 161, 86);
    padding: 5px 15px;
    border-radius: 20px;
    transition: all .3s;

    &:hover {
      background-color: rgb(82, 161, 86);
      color: white;
    }
  }

  .prev {
    border: 1px solid rgb(84, 128, 194);
    padding: 5px 15px;
    border-radius: 20px;
    transition: all .3s;

    &:hover {
      background-color: rgb(84, 128, 194);
      color: white;
    }
  }
}