.wrap_chatbot {
  .container {
    position: fixed;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 650px;
  }

  .plus {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 50px;
    width: 60px;
    height: 60px;
    background-color: gray;
    border-radius: 50%;
    transition: all .8s;

    &:hover {
      transform: rotate(180deg);
    }
  }
}
