.wrap_portfolio {
  width: 100%;
  box-sizing: border-box;
  padding: 0 80px;
  height: calc(100vh - 50px);
  overflow-y: auto;
  display: flex;

  .cont {
    display: flex;
    box-sizing: border-box;

    .explanation {
      width: 40%;
      display: flex;
      justify-content: center;
    }

    .explanation .container {
      align-self: center;
      max-width: 90%;
      background-color: white;
      height:300px;
    }

    .explanation .container .title {
      font-size: 30px;
    }

    .explanation .container .skills {
      margin-top: 150px;
      font-size: 23px;
    }

    .picture {
      width: 60%;
      display: flex;
      justify-content: center;
    }

    .picture figure {
      align-self: center;
      text-align: center;
    }

    .picture figure img {
      width: 80%;
    }
  }
}

@media (max-width:768px) {
  .portfolio {
    padding: 0 10px;
  }
}