.timeline {
  height: calc(100vh - 80px);
  box-sizing: border-box;
  color: black;
  padding: 0 80px;
  display: flex;
  overflow: scroll;
  
  &::-webkit-scrollbar {
    width: 0 !important ;
  }

  .wrapper {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    width:100vw;
    height:100vh;
    background: url("../img/marble-texture.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width:768px) {
  .timeline {
    padding: 0 10px;
  }
}
